html, body, #root {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; // ini yang bikin footer turun ke bawah kalau kontennya sedikit
}
